{% extends 'blog_theme/base.html' %}
{% load markdown_extras %}

{% block content %}
<h1>{{ title }}</h1>
<ul class="list-articles">
    {% for p in posts %}
    <li><div class="article-panel">
        <p class="last">Раздел: {{p.cat}}</p>
        <p class="last">Дата: {{p.time_updated|date:" d-m-Y H:i:s "}}</p>
    </div>

{% if p.photo %}
        <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
{% endif %}
        <h2>{{p.title}}</h2>
        <p>{{p.content|safe|linebreaksbr|truncatewords:80}}</p>
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a> </p>
    </li>
    {% endfor %}
</ul>
{% endblock %}